Django==1.9.5
PyJWT==1.4.0
click==5.1
colorama==0.3.3
django-appconf==1.0.1
django-autocomplete-light==2.3.2
django-bootstrap-form==3.2
django-datatable==0.2.1
django-localflavor==1.3
django-mptt==0.8.0
django-mptt-admin==0.3.1
django-nested-inline==0.3.5
django-taggit==0.18.0
django-taggit-labels==0.4.1
django-todo==1.5
django-user-accounts==1.3.1
jsonfield==1.0.3
metron==1.3.7
oauthlib==1.1.2
pathlib==1.0.1
pinax-calendars==0.6
pinax-cli==1.0.0
pinax-eventlog==1.1.1
pinax-notifications==3.0.1
pinax-theme-bootstrap==7.8.0
pinax-webanalytics==2.0.1
psycopg2==2.6.1
python-openid==2.2.5
python-social-auth==0.2.13
pytz==2015.7
requests==2.7.0
requests-oauthlib==0.6.1
six==1.10.0
wsgiref==0.1.2
