{% extends "theme_bootstrap/subnav_base.html" %}


{% load i18n %}
{% load static %}

{% block scripts %}
  {{ block.super }}    
{% endblock %}

{% block body_class %}account{% endblock %}

{% block site_brand %}<a class="navbar-brand" href="{% url "home_back" %}"><img src="{% static 'assets/images/logo_small_escuro.png'%}" alt="Logo" style="width: 120px;"></a>{% endblock %}

{% block subnav %}
<div class="panel panel-default">

   <div class="panel-heading"><strong>Minha conta</strong></div>
    <div class="list-group">
        <a class="list-group-item" href="{% url "home_back" %}">
            Geral
        </a>
        <a class="list-group-item" href="{% url "planos_view" %}">
            Planos
        </a>
        <a class="list-group-item" href="{% url "faturas_view" %}">
            Faturas
        </a>
        <a class="list-group-item" href="{% url "cliente_view" %}">
            Dados cadastrais
        </a>
        <a class="list-group-item" href="{% url "manage_dependentes_view" %}">
            Dependentes
        </a>
        <a class="list-group-item" href="{% url "manage_indicacoes_view" %}">
            Indicações
        </a>

    </div>

    <div class="panel-heading"><strong>Suporte</strong></div>
    <div class="list-group">
    	
        <a class="list-group-item" href="{% url "suporte_view" %}">
            Atendimento
        </a>
        <!-- <a class="list-group-item" href="#">
            Acesso Remoto
        </a>
        <a class="list-group-item" href="#">
            Chamado
        </a> -->
    </div>

    <div class="panel-heading"><strong>Acesso</strong></div>
    <div class="list-group">
    	
        <a class="list-group-item" href="{% url "account_settings" %}">
            Email de acesso
        </a>
        <a class="list-group-item account-password" href="{% url "account_password" %}">
            {% trans "Change password" %}
        </a>
        <a class="list-group-item account-delete" href="{% url "account_delete" %}">
            Excluir conta
        </a>
    </div>
</div>
{% endblock %}
