{% extends "account/base.html" %}

{% load i18n %}

{% block body_class %}account account-delete{% endblock %}

{% block head_title %}{% trans "Delete Account" %}{% endblock %}

{% block body %}
    <h1>Excluir conta</h1>
    
    <p>Se você prosseguir e excluir sua conta, seus dados serão <b>removidos dentro de {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} horas</b>.</p>

    
    <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir minha conta</button>
    </form>
    
{% endblock %}
