{% extends "account/base.html" %}
{% load bootstrap %}


{% load table_tags %}

{% block body_class %}Restrito{% endblock %}

{% block head_title %}Área Cliente{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
         
            <h1>Olá {{cliente.nome}}</h1> <!-- {{request.user.username.title}} -->
            
            
                          <!-- {% include "_messages.html" %} -->
            
            

<br>                            
                            
<div class="panel panel-info">
<div class="panel-heading">Cadastro</div>
  
  <div class="panel-body">
   
   
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{progresso}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{progresso}}%;">
    {{progresso}}%
  </div>
</div>

  <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal_pendencias">Ver pendências</button>


  
  </div>
</div>
                            
{% for a in assinaturas %}
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Faturas</div> <!-- Assinatura {{ a.id }} -->
  <div class="panel-body">
    <p>
    
    Seu plano é {{ a.plano.nome }}
                                    <!-- <a href="/gerencial/planos">Detalhes</a> -->
                                    <a href="#demo" class="btn btn-info btn-xs" data-toggle="collapse">Detalhes</a>
<!--                                     <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal_pendencias">Ver pendências</button>
 -->
									<div id="demo" class="collapse">
									{{ a.plano.descricao }}
									</div>
    
    </p>
  </div>

  <!-- Table -->
  <table class="table">
    
    
    
                                    <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>Mes</th>
                                            <th>Vencimento</th>
                                            <th>Valor</th>
                                            <th>Status</th>
                                            <th>Obs</th>
                                        </tr>
                                        {% for f in a.fatura_set.all %}
                                        <tr>
                                            <td>{{f.id}}</td>
                                            <td>{{f.mes}}</td>
                                            <td>{{f.data_vencimento}}</td>
                                            <td>{{f.valor}}</td>
                                            <td>
                                            {%if f.status %}
                                            	<span class="label label-success">Pago</span></td>
                                            {%elif f.is_vencido %}
                                             	<span class="label label-danger">Vencido</span></td>
                                            {%else%}
                                             	<span class="label label-warning">Futuro</span></td>
                                            {%endif%}
                                            
                                            <td>{{f.obs}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div><!-- /.box-body -->
    

  </table>
</div>

    {% endfor %}

  
    <!-- Modal -->
<div id="modal_pendencias" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pendências</h4>
      </div>
      <div class="modal-body">
        <p>Por favor, verifique os seguintes items:</p>
        <ul>
        {%for p in pendencias %}
        	<li>{{p}}</li>
        {%endfor%}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>
    
<div id="modal_planos" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pendências</h4>
      </div>
      <div class="modal-body">
        <p>Por favor, verifique os seguintes items:</p>
        <ul>
        {%for p in pendencias %}
        	<li>{{p}}</li>
        {%endfor%}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>
    
{% endblock %}





