{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}Cliente{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
        <legend>Indicados</legend>
            <form method="POST" class="form-horizontal" role="form" action="{% url "manage_indicacoes_view" %}">
                
                {% csrf_token %}
                {{ formset.management_form }}
				    {% for form in formset %}
				    <div class="form-group row">
				    {{ form.id }} 
						 
				        {{ form.nome }}
				        {{ form.telefone }}
				            {% if formset.can_delete %}
				                {{ form.DELETE }}
				            {% endif %}
				    </div>
				    {% endfor %}
               
               
               
               
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
